* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-heading {
    padding: 1%;
}

.test {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0 auto
  }
  
  .progress-container {
    margin: 5%;
    width: 5%;
    height: 60%;
    background: linear-gradient(to bottom, rgb(43, 180, 43), rgb(243, 243, 50), rgb(247, 43, 43));
    overflow: hidden;
  }
  
  .progress-bar {
    width: auto;
    transition: height 0.3s ease;
  }

  .dist-instructions {
    width: 15%;
    text-align: center;
    font-weight: bold;
  }
  